node_modules
.env

# Python virtual environments
venv/
env/
ENV/
.venv/
.env.local/
__pycache__/
*.pyc
*.pyo
*.pyd
.Python

# Hardhat files
/cache
/artifacts

# TypeChain files
/typechain
/typechain-types

# solidity-coverage files
/coverage
/coverage.json

# Hardhat Ignition default folder for deployments against a local node
ignition/deployments/chain-31337
